<%- include ('./partials/header.ejs') %> 
<header>
    <h1 id="overview-header">Portfolio Overview</h1>
</header>
<body>
    <div>
        <% for(let i = 0; i < currentHoldings.length; i++) { %>
        <h2><%=currentHoldings[i].tickerSymbol%></h2>
        <h3><%=currentHoldings[i].companyName%></h3>
        <span>Shares: <%=currentHoldings[i].quantity%></span><span>Purchase Price: $<%=currentHoldings[i].purchasePrice%></span>
        <% } %>
    </div>
</body>