<%- include('./partials/header.ejs') %>

<body class="stock-info">
    <h2><%=stockInfo.companyName%></h2>
    <h3><%=stockInfo.tickerSymbol%></h3>
    <div>
        <span>Shares: <%=stockInfo.quantity%></span>
        <span>Purchase Price: $<%=stockInfo.purchasePrice%></span>
    </div>
</body>
<footer>
    <span><a href="/overview/<%=stockInfo._id%>/edit"><button>Adjust Position</button></a></span>
    <span>
        <form action="/overview/<%=stockInfo._id%>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE">
        </form>
    </span>
</footer>